/*--reset浏览器样式--*/
body{
    -webkit-tap-highlight-color: transparent;
    /*去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    /*禁止文字自动调整大小(默认情况下旋转设备的时候文字大小会发生变化)*/
    color: #333;
    font: 12px/1.5 Helvetica, "STHeiti STXihei", "Microsoft JhengHei", "Microsoft YaHei", Tohoma, Arial;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;/*局部滚动(仅iOS5以上支持)*/
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

caption,
td,
th {
    font-weight: 400;
    vertical-align: middle
}

a,
img{
    border: none;
    -webkit-touch-callout: none;/*禁用长按页面时的弹出菜单(iOS下有效)*/
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block
}

strong {
    font-weight: 700
}

h1,
h2,
h3 {
    line-height: 2;
    font-weight: normal;
}
h1{ font-size: 18px; }
h2{ font-size: 16px; }
h3{ font-size: 14px; }

button,
input[type=number],
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none
}

button{
    background: 0 0;
    border: 0;
}

input:disabled{
    color: #333;
    background-color: transparent;
    background-image: none;
}
input:-webkit-autofill{
    color: #333;
    background-color: transparent;
    background-image: none;
}

/*移除HTML5 input在type="number"时的上下小箭头*/
input[type="number"]{-moz-appearance:textfield;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    margin: 0;
    -webkit-appearance: none !important;
}

/*
**reset placeholder color
*/
input::-moz-placeholder, textarea::-moz-placeholder { color: #999; font-size: 14px; font-weight: normal;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999; font-size: 14px; font-weight: normal;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999; font-size: 14px; font-weight: normal;}

a,input,textarea {
    outline: none;
}
a {
    background: transparent;
    text-decoration: none;
}
a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

textarea {
    overflow: auto;
}

body {
    background-color: #eee;
    -webkit-backface-visibility: hidden;
}

.container {
    background-color: #f8f8f8;
}

@media only screen and (min-width: 640px) {
    .container {
        max-width: 640px;
        margin: 0 auto;
    }
}

/*-- 盒子模型 --*/
.block {
    display: block !important;
}
.show {
    display: block;
}
.inline-block {
    display: inline-block !important;
}
.hide{
    display: none !important;
}

/*-- 浮动相关样式 --*/
.float-l{
    float:left;
}
.float-r{
    float:right;
}
.clearfix:after{
    display: block;
    content: "";
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clear {
    display: block;
    height:0;
    overflow: hidden;
    font-size:0;
    clear: both;
}

/*margin-padding常用类*/
.margin-bottom-10{
    margin-bottom: 10px !important;
}

/*字体常用样式*/
.c-orange {
    color: #f60!important
}

.c-orange-dark {
    color: #f15a0c!important
}

.c-golden-dark{
    color: #b27b44 !important;
}

.c-green {
    color: #06bf04!important
}

.c-red {
    color: #ed5050!important
}

.c-pink {
    color: #ee614b!important
}

.c-white {
    color: #fff!important
}

.c-gray-light {
    color: #e5e5e5!important
}

.c-gray {
    color: #c9c9c9!important
}

.c-gray-dark {
    color: #999!important
}

.c-gray-darker {
    color: #666!important
}

.c-yellow {
    color: #f09000!important
}

.c-light-yellow {
    color: #fcff00!important
}

.c-blue {
    color: #0085d7!important
}

.font-size-12 {
    font-size: 12px!important;
}
.text-right {
    text-align: right!important;
}

/*--公用按钮样式--*/
.btn {
    display: inline-block;
    margin: 0;
    padding: 5px 4px;
    font-size: 12px;
    line-height: 18px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none
}
.btn:active {
    background-color: #e9e9e9;
    color: #999
}
.btn.btn-blue {
    color: #fff;
    background-color: #00a0f8;
    border-color: #00a0f8
}
.btn.btn-blue-dark {
    color: #fff;
    background-color: #0597e8;
    border-color: #0472bc
}
.btn.btn-green {
    color: #fff;
    background-color: #42ae30;
    border-color: #388415;
}
.btn.btn-red {
    color: #fff;
    background-color: #ed5050;
    border-color: #b93232
}
.btn.btn-orange {
    color: #fff;
    border-color: #f60;
    background-color: #f60;
}
.btn.btn-white {
    color: #333;
    background-color: #fff;
    border-color: #e5e5e5
}
.btn.btn-block {
    width: 100%;
    padding: 11px 10px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.btn.btn-primary {
    background: #333;
    border-color: #333;
    color: #fff;
}



.tag {
    display: inline-block;
    padding: 4px;
    font-size: 12px;
    line-height: 12px;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.tag-big {
    font-size: 14px;
    line-height: 18px
}

.tag.tag-green {
    color: #06bf04;
    border-color: #0c3
}

.tag.tag-orange,
.tag.tag-orangef60 {
    color: #f60;
    border-color: #f60
}

.tag.tag-white {
    color: #333;
    border-color: #e5e5e5
}

.tag.tag-blue {
    color: #00a0f8;
    border-color: #00a0f8
}

.tag.tag-red {
    color: #ed5050;
    border-color: #ed5050
}

.tag.tag-pink {
    color: #ee614b;
    border-color: #ee614b
}

.tag.tag-danger-empty {
    color: #d43f3a;
    border-color: #d43f3a;
}

.tag.disabled {
    background-color: #ddd!important;
    background-image: none!important;
    border: 1px solid transparent!important;
    color: #fff!important
}

/*--加载样式--*/
#loading {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 10px;
    display: none;
    height: 100px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: fixed;
    top: 50%;
    transition: all 1s ease 0s;
    width: 100px;
    z-index: 9999;
}
#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*底部菜单*/
.nav-menu{
    cursor: default;
    font-size: 0;
    line-height: 0;
    border: 0 none;
}
.nav-fixed{
    position: fixed;
    z-index: 110;
}
.nav-menu-bottom{
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 45px;
    color: #eee;
    text-align: center;
    background: #f0f0f0;
    -webkit-border-image: url(../image/border-line.png) 2 stretch;
    -moz-border-image: url(../image/border-line.png) 2 stretch;
    border-top: 1px solid #e5e5e5
}
.nav-menu .nav-item{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-menu .nav-item .mainmenu-txt{
    display: inline-block;
    margin-top: 1px;
    font-size: 14px;
    line-height: 45px;
    vertical-align: middle;
}
.nav-menu-1 .nav-item{
    float: left;
    height: 45px;
}
.nav-menu-1 a {
    display: block;
    color: #333;
    text-shadow: 0 0 2px #f5f5f5;
    white-space: nowrap;
}
.nav-menu-1 .nav-item + .nav-item{
    -webkit-border-image: url(../image/border-line.png) 2 stretch;
    -moz-border-image: url(../image/border-line.png) 2 stretch;
    border-left: 1px solid #e5e5e5
}
.nav-menu-1.has-menu-2 .nav-item{
    width: 50%;
}


/*钱的样式*/
.listEm .priceInt{
    font-size:18px;
}

.listEm .priceFloat{
    font-size:12px;
}

.listEm .pricePoint{
    font-size:12px;
}

.listEm .priceFlag{
    font-size:12px;
}
.listEm.priceEm{
    font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
    font-weight:normal;
}


.detailEm .priceInt{
    font-size:20px;
}

.detailEm .priceFloat{
    font-size:12px;
}

.detailEm .pricePoint{
    font-size:12px;
}

.detailEm .priceFlag{
    font-size:12px;
}
.detailEm.priceEm{
    font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei","华文细黑","Helvetica", "Arial", "sans-serif";
    font-weight:normal;
}

.goods-purchaseprice{
    font-size:12px;
    color:#999;
    text-decoration:line-through;
    font-weight:normal;
}

/*图标*/
@font-face {
    font-family: uricon;
    src: url(../fonts/uricon.ttf?20170619) format("truetype"),url(../fonts/uricon.woff?20170619) format("woff"),url(../fonts/uricon.svg?20170619#uricon) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" uricon-"], [class^=uricon-] {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    font-family: uricon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uricon-giftbag:before {
    content: "\e97f"
}

.uricon-search-r:before {
    content: "\e97b"
}

.uricon-time-r:before {
    content: "\e97c"
}

.uricon-city-r:before {
    content: "\e97d"
}

.uricon-class-r:before {
    content: "\e97e"
}

.uricon-danke:before {
    content: "\e97a"
}

.uricon-txl:before {
    content: "\e976"
}

.uricon-shuimiancang:before {
    content: "\e977"
}

.uricon-flag:before {
    content: "\e978"
}

.uricon-ofo:before {
    content: "\e975"
}

.uricon-hd:before {
    content: "\e96a"
}

.uricon-xm:before {
    content: "\e966"
}

.uricon-yjfk-c:before {
    content: "\e967"
}

.uricon-yycg:before {
    content: "\e968"
}

.uricon-zx:before {
    content: "\e969"
}

.uricon-dcd:before {
    content: "\e96b"
}

.uricon-dgw:before {
    content: "\e96c"
}

.uricon-dgy:before {
    content: "\e96d"
}

.uricon-dhys:before {
    content: "\e96e"
}

.uricon-fws-b:before {
    content: "\e96f"
}

.uricon-home:before {
    content: "\e970"
}

.uricon-sixin:before {
    content: "\e973"
}

.uricon-pl:before {
    content: "\e972"
}

.uricon-visitor:before {
    content: "\e964"
}

.uricon-pic:before {
    content: "\e965"
}

.uricon-notice:before {
    content: "\e962"
}

.uricon-clear:before {
    content: "\e960";
    color: #ccc
}

.uricon-menu-a:before {
    content: "\e95f"
}

.uricon-search:before {
    content: "\e95e"
}

.uricon-qyhz:before {
    content: "\e95d"
}

.uricon-msg:before {
    content: "\e955"
}

.uricon-slh:before {
    content: "\e94d"
}

.uricon-daohang:before {
    content: "\e94b"
}

.uricon-sleep:before {
    content: "\e953"
}

.uricon-xiuxiqu:before {
    content: "\e95c"
}

.uricon-cd:before {
    content: "\e904"
}

.uricon-bgw:before {
    content: "\e903"
}

.uricon-online-print:before {
    content: "\e979"
}

.uricon-coffe:before {
    content: "\e948"
}

.uricon-hys:before {
    content: "\e913"
}

.uricon-activity:before {
    content: "\e946"
}

.uricon-bookbar:before {
    content: "\e947"
}

.uricon-chufang:before {
    content: "\e949"
}

.uricon-chuwugui:before {
    content: "\e94a"
}

.uricon-dayinji:before {
    content: "\e94c"
}

.uricon-duogongneng:before {
    content: "\e94e"
}

.uricon-fanshouji:before {
    content: "\e94f"
}

.uricon-foodbar:before {
    content: "\e950"
}

.uricon-jianshen:before {
    content: "\e963"
}

.uricon-guanxichi:before {
    content: "\e951"
}

.uricon-health:before {
    content: "\e952"
}

.uricon-linyushi:before {
    content: "\e954"
}

.uricon-marketed:before {
    content: "\e956"
}

.uricon-mombaby:before {
    content: "\e957"
}

.uricon-movie:before {
    content: "\e958"
}

.uricon-park:before {
    content: "\e959"
}

.uricon-suizhiji:before {
    content: "\e95a"
}

.uricon-water:before {
    content: "\e95b"
}

.uricon-delete2:before {
    content: "\e944"
}

.uricon-locationB:before {
    content: "\e93b"
}

.uricon-coupon:before {
    content: "\e93c"
}

.uricon-zan:before {
    content: "\e93d"
}

.uricon-people:before {
    content: "\e93f"
}

.uricon-ly:before {
    content: "\e942"
}

.uricon-light2:before {
    content: "\e92b"
}

.uricon-login:before {
    content: "\e92d"
}

.uricon-tyy:before {
    content: "\e92e"
}

.uricon-wifi:before {
    content: "\e92f"
}

.uricon-yx:before {
    content: "\e930"
}

.uricon-zy:before {
    content: "\e931"
}

.uricon-changzhuo:before {
    content: "\e932"
}

.uricon-dianshi:before {
    content: "\e933"
}

.uricon-door:before {
    content: "\e934"
}

.uricon-ht:before {
    content: "\e935"
}

.uricon-jiangtai:before {
    content: "\e936"
}

.uricon-erweima:before {
    content: "\e929"
}

.uricon-tel:before {
    content: "\e928"
}

.uricon-ztz:before {
    content: "\e901"
}

.uricon-zxm:before {
    content: "\e902"
}

.uricon-fws:before {
    content: "\e911"
}

.uricon-hqzc:before {
    content: "\e912"
}

.uricon-lw:before {
    content: "\e917"
}

.uricon-phone:before {
    content: "\e919"
}

.uricon-trz:before {
    content: "\e91a"
}

.uricon-lingdang:before {
    content: "\e92c"
}

.uricon-yjfk:before {
    content: "\e91b"
}

.uricon-time:before {
    content: "\e940"
}

.uricon-tip:before {
    content: "\e939"
}

.uricon-close-o:before {
    content: "\e937"
}

.uricon-back-o:before {
    content: "\e938"
}

.uricon-mail:before {
    content: "\e918"
}

.uricon-fabu:before {
    content: "\e93e"
}

.uricon-success:before {
    content: "\e945"
}

.uricon-ur-b:before {
    content: "\e923"
}

.uricon-uwu-b:before {
    content: "\e924"
}

.uricon-person-nav-o:before {
    content: "\e961"
}

.uricon-delete:before {
    content: "\e93a"
}

.uricon-join:before {
    content: "\e974"
}

.uricon-language:before {
    content: "\e971"
}

.uricon-yjfk-b:before {
    content: "\e925"
}

.uricon-down-b:before {
    content: "\e926"
}

.uricon-fuwushang-b:before {
    content: "\e927"
}

.uricon-ie:before {
    content: "\e914"
}

.uricon-location:before {
    content: "\e916"
}

.uricon-zan2:before {
    content: "\e943"
}

.uricon-ly2:before {
    content: "\e941"
}

.uricon-success-circle:before {
    content: "\e92a"
}

.uricon-menu-b:before {
    content: "\e922"
}

.uricon-jt:before {
    content: "\e915"
}

.uricon-download:before {
    content: "\e91f"
}

.uricon-down:before {
    content: "\e91e"
}

.uricon-up:before {
    content: "\e91d"
}

.uricon-light:before {
    content: "\e900"
}

.uricon-right:before {
    content: "\e91c"
}

.uricon-close:before {
    content: "\e920"
}

.uricon-back-b:before {
    content: "\e921"
}

.uricon-arrow-dropright:before {
    content: "\e909"
}

.uricon-arrow-dropleft:before {
    content: "\e908"
}

.uricon-arrow-dropdown:before {
    content: "\e907"
}

.uricon-arrow-dropup:before {
    content: "\e90a"
}

.uricon-arrow-right:before {
    content: "\e90d"
}

.uricon-arrow-left:before {
    content: "\e90c"
}

.uricon-arrow-bottom:before {
    content: "\e905"
}

.uricon-arrow-top:before {
    content: "\e90e"
}

.uricon-arrow-down:before {
    content: "\e906"
}

.uricon-arrow-up:before {
    content: "\e90f"
}

.uricon-arrow-back:before {
    content: "\e90b"
}

.uricon-arrow-forward:before {
    content: "\e910"
}


/*弹窗*/
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.5);
    display: none;
}
.modal-backdrop.in {
    display: block;
}
.modal {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.modal.in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.modal-open {
    overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.primary-modal .modal-dialog {
    position: absolute;
    right: 0;
    width: 80%;
    top: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
}
.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    background-clip: padding-box;
    outline: 0;
}
.primary-modal .modal-content {
    position: absolute;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
}
.primary-modal .modal-body {
    position: absolute;
    top: 0;
    bottom: 50px;
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
}
.modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1001;
    display: -webkit-box;
    display: flex;
    background-color: #fff;
    height: 50px;
}
.modal-footer .btn {
    -webkit-box-flex: 1;
    flex: 1;
    height: 50px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 0;
    border-width: 1px 0 0;
    border-color: #ccc;
}
.primary-modal .btn:first-child {
    color: #666;
}
.primary-modal .btn {
    border-color: #e5e5e5;
}
.primary-modal .btn {
    border-color: #e5e5e5;
}
.modal-footer .btn {
    -webkit-box-flex: 1;
    flex: 1;
    height: 50px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 0;
    border-width: 1px 0 0;
    border-color: #ccc;
}
.primary-modal .scroller {
    position: relative;
    width: 100%;
}

/*提示信息*/
#wise-info-box{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: none;
    width: 60%;
    max-width: 320px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 1000;
    -webkit-transition: all 300s;
    transition: all 300s;
}
#wise-info-box.show{
    display: block;
}
#wise-module-showPic{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 1001;
}
.pic-show-container{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.pic-show-container .swiper-slide{
    font-size: 0;
    text-align: center;
}
.pic-show-container .swiper-slide:after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    margin-left: -1px;
    vertical-align: middle;
}
.pic-show-container img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

#wise-info-window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2000;
}
.win-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 350px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.win-box .title{
    position: relative;
    padding: 20px 20px 35px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0) url("/mall/templates/t2/dealer/images/braid.png") no-repeat scroll 0 0 / 100% 100%;
    z-index: 3;
}
.win-box .con-wrap{
    margin: -30px 25px 0;
    padding-top: 30px;
    background: #f7ebc1;
    border-radius: 6px;
}
.win-box .con-wrap .content{
    min-height: 60px;
    padding: 0 10px;
    color: #802e20;
    font-size: 14px;
    text-align: center;
}
.win-box .con-wrap .content p{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    line-height: 20px;
    vertical-align: middle;
}
.win-box .con-wrap .content:after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    margin-left: -1px;
    vertical-align: middle;
}
.win-box .con-wrap .win-btns{
    padding: 10px 5px;
    text-align: center;
}
.win-box .con-wrap .win-btns span{
    color: #e42b16;
    cursor: pointer;
    font-size: 12px;
}
.win-box .con-wrap .win-btns a{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    padding: 0 10px;
}
.win-box .con-wrap .win-btns a.cancel{
    display: none;
}
.win-box .con-wrap .win-btns a span{
    display: inline-block;
    width: 100%;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e42b16;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.win-box .con-wrap .win-btns.confirm:after{
    content: '';
    display: block;
    clear: both;
}
.win-box .con-wrap .win-btns.confirm a{
    display: block;
    float: left;
    width: 50%;
}
.win-box .con-wrap .win-btns.confirm a.sure span{
    background: #e42b16;
    color: #fff;
}
.win-box .con-wrap .win-btns.confirm a.cancel span{
    background: transparent;
    color: #e42b16;
}