.container{
    padding-bottom: 45px;
}
.tabber {
    width: 100%;
    color: #333;
    font-size: 14px;
    overflow: visible;
    background-color: #fff;
    -webkit-border-image: url("../image/border-line.png") 2 stretch;
    -moz-border-image: url("../image/border-line.png") 2 stretch;
    border-image: url("../image/border-line.png") 2 stretch;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .tabber {
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
}

.tabber button,
.tabber a {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 0 none;
    outline: 0 none;
    background-color: #fff;
}

.tabber button:hover,
.tabber a:hover {
    text-decoration: none
}

.tabber button.active,
.tabber a.active {
    position: relative;
    top: 1px;
    color: #22C415;
    line-height: 39px;
    border-bottom: 1px solid #22C415;
}

.tabber.tabber-n2 button,
.tabber.tabber-n2 a {
    width: 50%
}
.tabber.tabber-n4 button,
.tabber.tabber-n4 a {
    width: 25%
}

.tabber.tabber-top button.active,
.tabber.tabber-top a.active {
    top: 0;
    margin-top: -1px;
    border-top: 1px solid #22C415;
    border-bottom: 0 none;
}

.tabber.tabber-top button.first,
.tabber.tabber-top a.first {
    border-right: 1px solid #e5e5e5;
}

.tabber.tabber-double-11 {
    margin-bottom: 1px;
    border: 0 none;
    overflow: hidden;
}

.tabber.tabber-double-11 a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 50%;
    color: #999;
    border: 0 none;
    -webkit-border-image: url("../image/border-line.png") 2 stretch;
    -moz-border-image: url("../image/border-line.png") 2 stretch;
    border-image: url("../image/border-line.png") 2 stretch;
    border-bottom: 2px solid #e5e5e5
}

.tabber.tabber-double-11 a.active {
    top: 0;
    color: #f15a0c;
    -webkit-border-image: initial;
    -moz-border-image: initial;
    border-image: initial;
    border-top: 0 none;
    border-bottom: 2px solid #f15a0c;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .tabber.tabber-double-11 a {
        border-bottom-width: 1px;
    }
    .tabber.tabber-double-11 a.active {
        border-bottom-width: 1px;
    }
}

.tabber.tabber-double-11.tabber-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
}

.tabber.tabber-double-11.tabber-fixed a {
    background-color: #fff;
}

.tabber.tabber-double-11.tabber-one-line {
    height: 40px
}

.tabber.tabber-double-11.tabber-two-line {
    height: 80px
}




.coupon-item {
    position: relative;
    margin: 10px 0;
}

.coupon-item .money {
    background: #ffa145;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ffa145;
    border-top: 1px solid #ffa145;
    color: #fff;
    float: right;
    line-height: 24px;
    font-size: 14px;
    padding: 10px 10px 0;
    text-align: center;
    height: 75px;
    width: 34%;
}

.coupon-item.type2 .money {
    background: #fd765b;
    border-color: #fd765b;
}

.coupon-item.usescope .money {
    background: #9551ed;
    border-color: #9551ed;
}

.coupon-item .money span {
    font-size: 24px;
    font-weight: bold;
}

.coupon-item .money .mit span {
    font-size: 14px;
    font-weight: normal;
}

.coupon-item .limit {
    background: #fff url("../image/coupon/quan_or.png") no-repeat right center / 7px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    color: #999;
    float: left;
    font-size: 12px;
    line-height: 18px;
    padding: 0 15px 0 10px;
    width: 66%;
    height: 75px;
}

.coupon-item.type2 .limit {
    background-image: url("../image/coupon/quan_re.png");
}

.coupon-item.usescope .limit {
    background-image: url("../image/coupon/quan_usescope.png");
}

.coupon-item .limit > div {
    padding: 15px 10px 8px;
}

.coupon-item .limit p,
.coupon-item .money p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 20px;
}

.coupon-item .limit p {
    line-height: 16px;
    padding-bottom: 8px;
}

.coupon-item .limit p.cou-name {
    color: #333;
    font-size: 16px;
    padding-bottom: 10px;
}

.coupon-item.transferd .limit,
.coupon-item.invalid .limit,
.coupon-item.used .limit {
    background-image: url("../image/coupon/quan_gr.png");
    background-color: #fff;
}

.coupon-item.transferd .money,
.coupon-item.invalid .money,
.coupon-item.used .money {
    background-color: #d2d6d7;
    border-color: #d2d6d7;
    color: #fff;
}

.coupon-item.transferd .deleteCouponDisabled,
.coupon-item.invalid .deleteCouponDisabled,
.coupon-item.used .deleteCouponDisabled {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: -38px;
}

.coupon-item.invalid .limit > div {
    background: transparent url("../image/coupon/gq.png") no-repeat right bottom / 96px 76px;
}

.coupon-item.used .limit > div {
    background: transparent url("../image/coupon/ysy.png") no-repeat right bottom / 96px 76px;
}

.coupon-item.transferd .limit > div {
    background: transparent url("../image/coupon/yzr.png") no-repeat right bottom / 96px 76px;
}
