<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>会议室列表</title>
    <script type="text/javascript" src="../js/common/init.js"></script>
    <link rel="stylesheet" type="text/css" href="../swiper/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
    <link rel="stylesheet" type="text/css" href="../mobiscroll/css/mobiscroll.javascript.min.css">
    <link rel="stylesheet" type="text/css" href="../mobiscroll/css/android-holo.css">
    <script type="text/javascript" src="../js/libs/iscroll.js"></script>
    <script type="text/javascript" src="../swiper/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="../mobiscroll/js/mobiscroll.javascript.min.js"></script>
    <script type="text/javascript" src="../js/libs/vue.min.js"></script>
    <script type="text/javascript" src="../js/list.js"></script>
</head>
<body>
    <div class="container" id="meetingList">
        <div class="header">
            <div class="title-bar">
                <span class="title">会议室列表</span>
            </div>
        </div>
        <div class="main">
            <div class="ur-searcher">
                <div class="search-wrapper clearfix">
                    <div class="menu-item" @click="showStage()">
                        <span>{{building.name}}</span>
                        <i class="icon-arrow-dropdown menu-arrow"></i>
                    </div>
                    <ul>
                        <li class="today" :class="{active: (setDay == today) && !setDayElse}" @click="setDate(today)"><span>今天</span></li>
                        <li class="tomorrow" :class="{active: setDay == tomorrow && !setDayElse}" @click="setDate(tomorrow)"><span>明天</span></li>
                        <li class="last" :class="{active: setDayElse}" @click="getDate()">
                            <span>
                                <input type="text" class="input-text" placeholder="其他日期" id="mobiscroll" readonly="">
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="ad in ads">
                        <a :href="ad.href ? ad.href: 'javascript:void(0)'">
                            <img class="js-lazy" :data-src="ad.img" />
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="meeting-room-list">
                <div class="bigpictext-item" v-for="(room,index) in rooms">
                    <dl>
                        <dt>
                            <img class="js-lazy" :data-src="room.img">
                        </dt>
                        <dd>
                            <div class="bigpictext-title">
                                <div class="bigpictext-title-cont">
                                    <h2 class="bigpictext-title-txt">{{room.roomName}}</h2>
                                    <small> | {{room.headcount}}人</small>
                                </div>
                                <em>¥{{room.price | cash}}
                                    <small>/ 0.5小时</small>
                                </em>
                            </div>
                            <div class="bigpictext-bar">
                                <button class="btn-prev" @click="rollLeft(index)"></button>
                                <button class="btn-next" @click="rollRight(index)"></button>
                                <div class="bar-list">
                                    <ul :style="'width: ' + (room.timeArray.length * 42) + 'px;margin-left:' + room.leftDis + 'px;'">
                                        <li v-for="(s,timeIndex) in room.timeArray" @click="checkTime(index,timeIndex)" :class="{'disabled':s==-1,'selected':s==1}">
                                            <label>{{timeCompFilter(timeIndex,room.openTimeStart)}}</label>
                                            <div></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tool-action" v-show="room.timeNum>0 && operaIndex ==index">
                                <div class="tool-info">
                                    <span data-set="timeRange" class="timeRange">{{showTimeRend(index)}}</span>
                                    <span> (共<i data-set="hour">{{room.timeNum*0.5}}</i>小时）</span>
                                </div>
                                <button type="button" class="btn btn-primary booking" @click="reserve(index)">确认预定</button>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <!-- 社区列表 modal  -->
        <div id="plantIdModal" class="modal primary-modal modal-backdrop" :class="{in:isOpen}" @click="closeStage()" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" @click="preventClose($event)">
                    <div class="modal-body">
                        <div class="scroller" id="plantIdContainer">
                            <ul class="select-list stage-list">
                                <li v-for="(item,index) in buildingList" @click="checkStage(index)" :disable="!item.id" :data-id="item.id" :class="{'active':item.id==cherkId && !!item.id,'stage-title':!item.id}">
                                    {{item.name}}<i class="uricon-success-circle"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default cancel" @click="closeStage()" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary save" @click="saveStage()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 社区列表 modal -->
        <div class="modal-backdrop"></div>
    </div>
    <div class="nav-menu nav-fixed nav-menu-bottom nav-menu-1 has-menu-2">
        <div class="nav-item">
            <a class="mainmenu js-mainmenu " href="main.html">
                <span class="mainmenu-txt">订会议室</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="mainmenu js-mainmenu " href="ucenter.html">
                <span class="mainmenu-txt">个人中心</span>
            </a>
        </div>
    </div>
    <script>
        $(function(){
            MeetingList.init({
                buildingId:1,
                now:1509778676011
            });
        })
    </script>
</body>
</html>