<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>首页</title>
    <script type="text/javascript" src="../js/common/init.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/list.css">
    <link rel="stylesheet" type="text/css" href="../mobiscroll/css/mobiscroll.javascript.min.css">
    <link rel="stylesheet" type="text/css" href="../mobiscroll/css/android-holo.css">
    <script type="text/javascript" src="../js/libs/iscroll.js"></script>
    <script type="text/javascript" src="../mobiscroll/js/mobiscroll.javascript.min.js"></script>
    <script type="text/javascript" src="../js/libs/vue.min.js"></script>
    <script type="text/javascript" src="../js/list.js"></script>
</head>
<body>
    <div class="container" id="meetingList">
        <div class="header">
            <div class="title-bar">
                <span class="title">会议室列表</span>
            </div>
        </div>
        <div class="main">
            <div class="ur-searcher">
                <div class="search-wrapper clearfix">
                    <div class="menu-item" @click="showStage()">
                        <span>{{stageCheck.stageName}}</span>
                        <i class="icon-arrow-dropdown menu-arrow"></i>
                    </div>
                    <ul>
                        <li class="today" :class="{active: (setDay == today) && !setDayElse}" @click="setDate(today)"><span>今天</span></li>
                        <li class="tomorrow" :class="{active: setDay == tomorrow && !setDayElse}" @click="setDate(tomorrow)"><span>明天</span></li>
                        <li class="last" :class="{active: setDayElse}" @click="getDate()">
                            <span>
                                <input type="text" class="input-text" placeholder="其他日期" id="mobiscroll" readonly="">
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="meeting-room-list">
                <div class="bigpictext-item">
                    <dl>
                        <dt>
                            <img class="js-lazy" data-src="https://image.urwork.cn/df4649a7-7fc4-4009-a877-a219ee375fc5.jpg">
                        </dt>
                        <dd>
                            <div class="bigpictext-title">
                                <div class="bigpictext-title-cont">
                                    <h2 class="bigpictext-title-txt">苍之风云</h2>
                                    <small> | 8人</small>
                                </div>
                                <em>¥50
                                    <small>/ 0.5小时</small>
                                </em>
                            </div>
                            <div class="bigpictext-bar">
                                <button class="btn-prev"></button>
                                <button class="btn-next"></button>
                                <div class="bar-list">
                                    <ul style="width: 840px;" data-move="6">

                                        <li data-id="20" class="">
                                            <label>10时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="21" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                        <li data-id="22" class="">
                                            <label>11时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="23" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                        <li data-id="24" class="">
                                            <label>12时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="25" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                        <li data-id="26" class="">
                                            <label>13时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="27" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                        <li data-id="28" class="">
                                            <label>14时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="29" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                        <li data-id="30" class="">
                                            <label>15时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="31" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                        <li data-id="32" class="">
                                            <label>16时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="33" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                        <li data-id="34" class="">
                                            <label>17时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="35" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                        <li data-id="36" class="">
                                            <label>18时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="37" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                        <li data-id="38" class="">
                                            <label>19时</label>
                                            <div></div>
                                        </li>

                                        <li data-id="39" class="">
                                            <label></label>
                                            <div></div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="tool-action" data-id="19820608" data-type="1">
                                <div class="tool-info">
                                    <span data-set="timeRange" class="timeRange">12:30-13:30</span>
                                    <span> (共<i data-set="hour">1</i>小时）</span>
                                </div>
                                <button type="button" class="btn btn-primary booking">确认预定</button>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <!-- 社区列表 modal -->
        <div class="modal primary-modal" @click="closeStage()" id="plantIdModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" @click="preventClose($event)">
                    <div class="modal-body">
                        <div class="scroller" id="plantIdContainer">
                            <div class="select-list stage-list">
                                <div v-for="stage in stageInfo">
                                    <div class="stage-title">{{stage.cityName}}</div>
                                    <ul>
                                        <li v-for="s in stage.stageList" @click="checkStage(s)" data-id="s.id" :class="{active:s.id==reCheck.id}">{{s.stageName}}<i class="uricon-success-circle"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default cancel" @click="closeStage()" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary save" @click="saveStage()">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 社区列表 modal -->
        <div class="modal-backdrop"></div>
    </div>

    <div class="nav-menu nav-fixed nav-menu-bottom nav-menu-1 has-menu-2">
        <div class="nav-item">
            <a class="mainmenu js-mainmenu " href="main.html">
                <span class="mainmenu-txt">订会议室</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="mainmenu js-mainmenu " href="ucenter.html">
                <span class="mainmenu-txt">个人中心</span>
            </a>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            List.init();
        })
    </script>
</body>
</html>