<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>会议室确认</title>
    <script type="text/javascript" src="../js/common/init.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/pay.css">
    <script type="text/javascript" src="../js/libs/vue.js"></script>
    <script type="text/javascript" src="../js/pay.js"></script>
</head>
<body>
    <div class="container">
        <div id="mInfo">
            <div class="banner-image-box">
                <a class="banner-image" href="javascript:;" :style="'background-image: url(' + meetInfo.pic + ')'">
                </a>
            </div>
            <section class="info-layout">
                <div class="info-item-simple">
                    <div class="info-cont">
                        <span>{{meetInfo.meetingroomName}}</span>
                        <span>{{meetInfo.stageName}}</span>
                    </div>
                </div>
                <div class="info-sprite"></div>
                <div class="info-item-simple flexbox">
                    <div class="info-cont">
                        预订时间：<span>{{meetInfo.selectDate}}</span>
                        <span>{{meetInfo.seletcTime}}</span>
                    </div>
                </div>
            </section>

            <section class="info-layout ">
                <div class="info-title info-title-sm">服务说明</div>
                <div class="info-item-simple ">
                    <div class="info-cont">
                        <i class="uricon-locationB location"></i><span>{{meetInfo.workstageAddress}}</span>
                    </div>
                </div>
                <div class="info-item-simple">
                    <div class="info-cont">
                        <i class="uricon-time time"></i><span>{{meetInfo.openStartTime}}-{{meetInfo.openEndTime}} 开放</span>
                    </div>
                </div>

                <div class="info-item-simple">
                    <div class="info-cont">
                        <i class="uricon-duogongneng"></i><span>投影仪 电视</span>
                    </div>
                </div>

                <div class="info-item-simple">
                    <div class="info-cont">
                        <i class="uricon-people"></i><span>可容纳{{meetInfo.peopleNumber}}人</span>
                    </div>
                </div>
                <div class="info-sprite"></div>
                <div class="info-item-simple">
                    <div class="info-cont">
                        预订人：{{meetInfo.tel}}
                    </div>
                </div>
            </section>

            <section class="info-layout">
                <div class="info-item-simple flexbox">
                    <div class="info-cont">
                        会议室费用：<span class="c-orange">¥{{meetInfo.roomTotal}}</span>
                        <span class="c-orange">(¥{{meetInfo.roomPrice}}/半小时)</span>
                    </div>
                </div>
            </section>

            <section class="info-layout ">
                <div class="info-title info-title-sm">收费项目(可选)</div>
                <div class="info-item-simple flexbox" v-for="(item,index) in addItem">
                    <div class="add-item">
                        <div class="item-name">
                            <span>{{item.name}}({{item.price}}元/份)</span>
                        </div>
                    </div>
                    <div class="number-click">
                        <span class="addBtn" @click="addNum(index)">+</span>
                        <span class="number">{{item.num}}</span>
                        <span class="delBtn" @click="delNum(index)">-</span>
                    </div>
                    <div class="addTotal">
                        <span class="c-orange">¥{{item.price * item.num}}</span>
                    </div>
                </div>
            </section>

            <section class="info-layout ">
                <div class="info-item-simple flexbox has-ricon" id="couponItem">
                    <div class="item-cell">
                        代金券 <span class="coupon-count"><em data-set="couponNum">{{coupons.length}}</em>张可用</span>
                    </div>
                    <a href="javascript:;" :class="{'coupon-hide' : coupons.length <= 0}" class="item-cell flex val-empty" data-text="去选择" data-toggle="modal">去选择</a>
                    <i class="uricon-arrow-right ricon" :class="{'coupon-hide' : coupons.length<=0}"></i>
                </div>
            </section>

            <section class="info-layout">
                <div class="info-item">
                    <label class="info-label" style="width: 200px;">商品金额</label>
                    <div class="info-cont price text-right">
                        ¥100.00
                    </div>
                </div>
            </section>

            <section class="tip-wrapper">
                <p>您可在会议开始1小时前取消订单</p>
            </section>

            <footer class="btn-group fixed-bottom">
                <div class="flex">
                    实付：<span class="price" data-set="payMoney">¥100</span>
                </div>
                <a href="javascript:;" class="btn btn-primary" id="submit">提交订单</a>
            </footer>

            <!-- 个人优惠券 modal -->
            <div class="modal primary-modal" id="couponsModal" role="dialog" data-param="couponCodes" data-val="">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="background-color: #f5f5f5;">
                            <div class="scroller" id="couponsContainer">
                                <div class="coupon-item coupon-item-checkable checked" v-for="(d, i) in coupons" :data-id="d.couponCode" :data-num="d.price">
                                    <dl>
                                        <dt>
                                            <div class="coupon-info">
                                                <p class="price">¥ <big>{{d.price}}</big></p>
                                            </div>
                                        </dt>
                                        <dd>
                                            <p class="coupon-title">{{d.strType}}</p>
                                            <div class="coupon-desc">
                                                <p>{{d.startDate}}-{{d.endDate}}</p>
                                            </div>
                                            <div class="coupon-desc">
                                                <p>{{d.remark}}</p>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default text-primary save">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 个人优惠券 modal -->
            <div class="modal-backdrop"></div>
        </div>
    </div>
    <script>
        $(function(){
            Pay.init();
        })
    </script>
</body>
</html>